/* Hero Section */
.hero {
  text-align: center;
  background-color: rgb(18, 181, 122);
  /* background-color: black; */
  color: white;
  padding: 50px 0;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #fff;
  color: #006a4d;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #45a049;
}

/* Dashboard Section */
.dashboard1 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.dashboard h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.task-list {
  margin-bottom: 20px;
}

.task-list h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.task-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  font-size: 1.2em;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.task-description {
  font-weight: bold;
}

.task-due {
  color: #777;
  font-size: 1em;
}

/* Stats Section */
.additional-info {
  padding: 10px 0;
}

.additional-info h3 {
  font-size: 1.3em;
  color: #333;
}

.additional-info p {
  font-size: 1.1em;
  color: #777;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #333;
  box-sizing: border-box;
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
